$standard_blue: #0091ea;
$hover_blue: #0083C6;
$footer_dark_grey: #222222;

/*Spacing*/
.margin0 {
  margin: 0 !important;
}

.padding-right30 {
  padding-right: 30px;
}

.padding-top5 {
  padding-top: 5px;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top30 {
  padding-top: 30px;
}

.padding-top60 {
  padding-top: 60px;
}

.padding-bottom30 {
  padding-bottom: 30px;
}

.padding-bottom60 {
  padding-bottom: 60px;
}

/*Display*/
.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-align-bottom {
  align-items: flex-end;
}

.flex-vertical-center {
  justify-content: space-between;
  align-items: center
}

/*General font*/
.font18 {
  font-size: 18px;
}

.font-weight700 {
  font-weight: 700
}

.font-weight800 {
  font-weight: 800
}

/*General link*/
.white-link {
  &:focus, &:visited, &:active, &:hover {
    color: #fff;
  }
}

.blue-link {
  &:focus, &:visited, &:active {
    color: #0091ea;
  }

  &:hover {
    color: #01579b
  }
}

header {
  .menu {
    & > li a {
      padding: 0 5px;
      color: #fff;
    }
  }

  /*Main menu items*/
  .menu-container {
    padding: 0 0 0 3%;
    vertical-align: middle;

    .current-menu-item {
      background-color: #0a99e3;
      border: solid 1px #32a4df;
      border-bottom: solid 1px #fff;
    }
  }

  .menu-item {
    height: 64px;
  }

  /*Social media icons*/
  .at-social {
    padding-left: 3%;

    & > ul li a {
      padding: 0;

      &:hover {
        background-color: $standard_blue;
      }

      & > i {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }

      & > i:hover {
        color: #191970;
      }
    }
  }

  /*Logout menu*/
  .logon-container {
    width: 64px;
    height: 64px;
    margin-left: 1%;

    & > a:hover {
      background-color: #111111;
      color: #fff;
    }

    & > a i {
      font-size: 36px;
    }
  }

  .logout-menu {
    background-color: #424242;
    color: white;

    & > li a {
      padding: 0 30px;

      &:hover {
        color: white;
        background-color: #111111;
      }

      &:active, &:focus {
        color: white;
      }
    }
  }

  /*Sub menu*/
  .sub-menu-bar {
    height: 35px;
    padding-right: 64px;
    clear: both;
    display: block;
    width: 100%;

    & > div ul {
      .current-menu-item {
        background-color: #212121;
      }

      & > li {
        height: 35px;
        line-height: 35px;

        &:hover {
          background-color: #111111;
        }
      }
    }
  }

  /*Mobile friendly*/
  .side-nav {
    .current-menu-item {
      background-color: $standard_blue;
    }

    & > li {
      width: 100%;
      padding: 0;

      & > a {
        color: #212121;
      }

    }
  }

  .mobile_navbar {
    padding-left: 10px;
    padding-right: 20px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;

  /*HTML elements*/
  hr {
    height: 1px !important;
    margin-left: 0;
    width: 100px;
  }

  .small-img {
    max-width: 150px;
    max-height: 80px;
  }

  .blue-border {
    padding: 5px 5px 0 5px;
    border: solid 1px $standard_blue;
  }

  .input-file-preview {
    padding: 10px !important;
  }

  .input-field {
    /* label focus color */
    input:focus + label, textarea:focus + label {
      color: $standard_blue !important;
    }

    /* label underline focus color */
    input:focus, textarea:focus {
      border-bottom: 1px solid $standard_blue !important;
      box-shadow: 0 1px 0 0 $standard_blue !important;
    }

    /* valid color */
    input[type=text].valid {
      border-bottom: 1px solid $standard_blue;
      box-shadow: 0 1px 0 0 $standard_blue;
    }
    /* invalid color */
    input[type=text].invalid {
      border-bottom: 1px solid $standard_blue;
      box-shadow: 0 1px 0 0 $standard_blue;
    }
    /* icon prefix focus color */
    .prefix.active {
      color: $standard_blue;
    }
  }

  .logout-menu {
    position: absolute;
    right: 0;
    z-index: 99999;
    &.ta-inactive {
      visibility: hidden;
    }
    &.ta-active {
      visibility: visible;
    }
  }

  /* Modal styling */
  .modal {
    max-width: 545px;

    .modal-header {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .modal-icon-container {
      margin: -25px auto;
      padding-top: 5px;
      border-radius: 50%;
      display: block;
      width: 50px;
      height: 50px;
    }

    .modal-icon {
      width: 30px;
      height: 30px;
      padding-top: 5px;
      margin-top: 5px;
      border-radius: 50%;
      border: solid 2px $standard_blue;
    }

    .modal-form {
      padding: 35px;

      .login-remember {
        margin-top: 0px;

        input[type="checkbox"].remember-me-text:checked + label:before {
          border-right: solid 2px $standard_blue;
          border-bottom: solid 2px $standard_blue;
        }
      }

      .submit-button {
        box-shadow: none;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 18px;
        padding: 20px;
        margin-top: 20px;

        &:hover {
          box-shadow: none;
          background: $hover_blue;
        }
      }
    }

    .modal-action {
      margin-right: 10px !important;
    }
  }

  .site-footer {
    font-family: 'Open Sans', sans-serif;

    .newsletter-container {
      min-height: 250px;
      padding: 20px 0;

      .newsletter-img {
        max-width: 250px;
        max-height: 250px;
        -ms-transform: rotate(356deg); /* IE 9 */
        -webkit-transform: rotate(356deg); /* Chrome, Safari, Opera */
        transform: rotate(356deg);
        float: right;
        margin-right: 5%;
        margin-top: -30px;
        border: 8px solid #fff;
      }

      .join-btn:hover {
        color: #ccc;
      }
    }

    .footer-container {
      font-size: 13px;
      padding: 3% 0;
      color: #a3a3a3;

      .widget {
        padding: 0 30px;

        &:first-of-type {
          padding-left: 0;
        }

        #donate-button {
          border: solid 1px $standard_blue;
          display: inline-block;
          text-align: center;
          padding: 10px 20px;
          margin-top: 10px;
          color: white;

          &:hover {
            background-color: $hover_blue;
            border-color: #fff;
          }
        }
      }

      & > div {
        ul {
          margin-left: 0;

          li, li a {
            color: #a3a3a3;
            padding-bottom: 6px;

            &:hover {
              color: #fff;
            }
          }
        }

        h3 {
          font-size: 18px;
          color: white;
        }
      }
    }

    .footer-container-small {
      height: 60px;
      background-color: black;

      .copyright-container {
        padding-top: 19px;
      }
      .social-container {
        height: 60px;
        margin-right: 5%;
        padding-top: 12px;

        ul {
          padding: 0 20px;

          li {
            width: 35px;
            height: 35px;
            background-color: $footer_dark_grey;
            text-align: center;
            padding: 5px;
            margin: 0 5px;

            &:hover {
              a {
                color: $hover_blue !important;
              }
            }
          }
        }
      }
    }
    .footer-partners {
      .partner-logo {
        max-height: 200px;
        padding: 30px;
      }
    }
  }

  .card-panel {
    .at-partner-logo {
      img {
        max-height: 150px;
      }
    }
    p {
      margin: 0;
    }
    .at-parner-name {
      margin-top: 0;
      font-weight: 800;
    }
  }

  /*Toast styling*/
  #toast-container {
    right: 3%;
  }

  .toast {
    &.large {
      max-width: 300px;
      padding: 30px;
    }
  }

  /*Card*/
  .card {
    &:hover {
      box-shadow: 0 4px 10px 0;
    }

    .card-image {
      height: 240px;
      overflow: hidden;
    }
  }

  /*ID specific*/
  #at-news {
    .collection {
      margin-top: 28px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

      li a p:last-child {
        padding-bottom: 9px;
      }

      .collection-item:hover {
        background-color: #eeeeee;
      }
    }
  }

  .top-single-post {
    height: 300px;
    overflow-y: hidden;
    img {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.archive, &.blog {
    .card {
      min-height: 650px;
      .card-image {
        max-height: 220px;
        overflow: hidden;
      }
      .card-action {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .card-content {
        padding-bottom: 80px;
      }
    }
  }
  #at-causes {
    .card {
      .card-image {
        img {
          width: auto;
          max-width: none;
          height: 100%;
        }
      }
    }
  }

  /*Post navigation*/
  .post-navigation {
    background-color: $standard_blue;

    a {
      &:focus, &:visited, &:active, &:hover {
        color: #fff;
      }
    }

    .nav-previous {
      padding-left: 20px;
    }

    .nav-next {
      padding-right: 20px;
    }
  }

  /*Comments*/
  .comment-list {
    margin-left: 0;
    padding-left: 0;

    .comment {
      padding: 10px;
      border-top: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;

      &:last-child {
        border-bottom: 1px solid #cccccc;
      }
    }

    .comment-author {
      cite {
        font-style: normal;
      }
    }
  }
}
