$standard_blue: #0091dc;
$hover_blue: #0083C6;

header {
  a:visited {
    color: white;
  }

  .menu {
    & > li a{
        padding: 0 5px;
        color: white;
      }
  }

  /*Logo*/
  .logo-container {
    display: inline-block;
  }


  /*Main menu items*/
  .menu-container {
    padding: 0 0 0 3%;
    vertical-align: middle;
    background-color: $standard_blue;
  }

  .padding-top10 {
    padding-top: 10px;
  }

  .menu-item {
    height: 64px;
  }

  .current-menu-item {
    background-color: #0a99e3;
    border: solid 1px #32a4df;
    border-bottom: solid 1px white;

    &>a {
      color: white;
    }
  }


  /*Social media icons*/
  .at-social {
    padding-left: 3%;

    &>ul li a {
      padding: 0;
      color: $standard_blue;

      &:hover {
        background-color: $standard_blue;
      }

      &>i {
        background: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }

      &>i:hover {
        color: #191970;
      }
    }
  }


  /*Logout menu*/
  .logon-container {
    width: 64px;
    height: 64px;
    margin-left: 1%;

    &>a:hover {
      background-color: #111111;
      color: white;
    }

    &>a:active, &>a:focus {
      color: white;
    }

    &>a i{
      font-size: 36px;
    }
  }

  .logout-menu {
    background-color: #424242;
    color: white;

    &>li a{
      padding: 0 30px;

      &:hover {
        color: white;
        background-color: #111111;
      }

      &:active, &:focus {
        color: white;
      }
    }
  }


  /*Sub menu*/
  .sub-menu-bar {
    height: 35px;
    padding-right: 64px;
    clear: both;
    display: block;
    float: left;
    width: 100%;

    &>div ul{
      .current-menu-item {
        background-color: #212121;
      }

      &>li {
        height: 35px;
        line-height: 35px;

        &:hover {
           background-color: #111111;
        }

        &>a:hover {
          color: white;
        }
      }
    }
  }

  /*Mobile friendly*/
  .side-nav {
    .current-menu-item {
      background-color: $standard_blue;
    }

    & > li {
      width: 100%;
      padding: 0;

      & > a {
        color: #212121;
      }

    }
  }

  .mobile_navbar {
    padding-left:10px;
    padding-right:20px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #0091ea;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #0091ea;
    box-shadow: 0 1px 0 0 #0091ea;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #0091ea;
    box-shadow: 0 1px 0 0 #0091ea;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #0091ea;
    box-shadow: 0 1px 0 0 #0091ea;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #0091ea;
  }

  .logout-menu {
    position: absolute;
    right: 0;
    z-index: 99999;
    &.ta-inactive {
      visibility: hidden;
    }
    &.ta-active {
      visibility: visible;
    }
  }

  /* Login modal styling */
  .at-login-modal {
      min-height: 300px;
      max-width: 545px;

      .login-header {
        background-color: $standard_blue;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
      }

      .logon-icon-container{
        margin: -25px auto;
        padding-top: 5px;
        background-color: white;
        text-align: center;
        border-radius: 50%;
        display: block;
        width: 50px;
        height: 50px;
      }

      .logon-icon{
        width: 30px;
        height: 30px;
        padding-top: 5px;
        margin-top: 5px;
        border-radius: 50%;
        border: solid 2px $standard_blue;
        color: $standard_blue;
      }


      #loginform {
        padding: 35px;

        .login-remember {
          margin-top: 0px;

          input[type="checkbox"].remember-me-text:checked + label:before {
            border-right: solid 2px $standard_blue;
            border-bottom: solid 2px $standard_blue;
          }
        }

        .lost-password {
          float:right;
        }

        .login-button {
          box-shadow: none;
          width:100%;
          background: $standard_blue;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          color: #ffffff;
          font-size: 18px;
          padding: 20px;
          margin-top: 20px;

          &:hover {
            box-shadow: none;
            background: $hover_blue;
          }
        }
      }
  }
}
