$standard_blue: #0091dc;
$hover_blue: #0083C6;
$footer_dark_grey: #222222;

//a,a:hover,a:active,a:focus {
//  color: #fff;
//}

.margin0 {
  margin: 0 !important;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top30 {
  padding-top: 30px;
}

.inline-block {
  display: inline-block;
}

/*General font*/
.font-weight700{
  font-weight: 700
}

.font-weight800{
  font-weight: 800
}

header {
  a:visited {
    color: #fff;
  }

  .menu {
    & > li a {
      padding: 0 5px;
      color: #fff;
    }
  }

  /*Main menu items*/
  .menu-container {
    padding: 0 0 0 3%;
    vertical-align: middle;
  }

  .menu-item {
    height: 64px;
  }

  .current-menu-item {
    background-color: #0a99e3;
    border: solid 1px #32a4df;
    border-bottom: solid 1px white;

    & > a {
      color: white;
    }
  }

  /*Social media icons*/
  .at-social {
    padding-left: 3%;

    & > ul li a {
      padding: 0;

      &:hover {
        background-color: #0091ea;
      }

      & > i {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }

      & > i:hover {
        color: #191970;
      }
    }
  }

  /*Logout menu*/
  .logon-container {
    width: 64px;
    height: 64px;
    margin-left: 1%;

    & > a:hover {
      background-color: #111111;
      color: white;
    }

    & > a:active, & > a:focus {
      color: white;
    }

    & > a i {
      font-size: 36px;
    }
  }

  .logout-menu {
    background-color: #424242;
    color: white;

    & > li a {
      padding: 0 30px;

      &:hover {
        color: white;
        background-color: #111111;
      }

      &:active, &:focus {
        color: white;
      }
    }
  }

  /*Sub menu*/
  .sub-menu-bar {
    height: 35px;
    padding-right: 64px;
    clear: both;
    display: block;
    float: left;
    width: 100%;

    & > div ul {
      .current-menu-item {
        background-color: #212121;
      }

      & > li {
        height: 35px;
        line-height: 35px;

        &:hover {
          background-color: #111111;
        }

        & > a:hover {
          color: white;
        }
      }
    }
  }

  /*Mobile friendly*/
  .side-nav {
    .current-menu-item {
      background-color: $standard_blue;
    }

    & > li {
      width: 100%;
      padding: 0;

      & > a {
        color: #212121;
      }

    }
  }

  .mobile_navbar {
    padding-left: 10px;
    padding-right: 20px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;

  .input-field {
    /* label focus color */
    input[type=text]:focus + label {
      color: #0091ea;
    }

    /* label underline focus color */
    input[type=text]:focus, input[type=password]:focus {
      border-bottom: 1px solid #0091ea;
      box-shadow: 0 1px 0 0 #0091ea;
    }

    /* valid color */
    input[type=text].valid {
      border-bottom: 1px solid #0091ea;
      box-shadow: 0 1px 0 0 #0091ea;
    }
    /* invalid color */
    input[type=text].invalid {
      border-bottom: 1px solid #0091ea;
      box-shadow: 0 1px 0 0 #0091ea;
    }
    /* icon prefix focus color */
    .prefix.active {
      color: #0091ea;
    }
  }

  .logout-menu {
    position: absolute;
    right: 0;
    z-index: 99999;
    &.ta-inactive {
      visibility: hidden;
    }
    &.ta-active {
      visibility: visible;
    }
  }

  /* Login modal styling */
  .modal {
    min-height: 300px;
    max-width: 545px;

    .modal-header {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .modal-icon-container {
      margin: -25px auto;
      padding-top: 5px;
      text-align: center;
      border-radius: 50%;
      display: block;
      width: 50px;
      height: 50px;
    }

    .modal-icon {
      width: 30px;
      height: 30px;
      padding-top: 5px;
      margin-top: 5px;
      border-radius: 50%;
      border: solid 2px $standard_blue;
    }

    .modal-form {
      padding: 35px;

      .login-remember {
        margin-top: 0px;

        input[type="checkbox"].remember-me-text:checked + label:before {
          border-right: solid 2px $standard_blue;
          border-bottom: solid 2px $standard_blue;
        }
      }

      .lost-password {
        float: right;
      }

      .login-button {
        box-shadow: none;
        width: 100%;
        background: $standard_blue;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 18px;
        padding: 20px;
        margin-top: 20px;

        &:hover {
          box-shadow: none;
          background: $hover_blue;
        }
      }
    }
  }

  .site-footer {
    font-family: 'Open Sans', sans-serif;

    .newsletter-container {
      min-height: 250px;
      padding: 20px 0;

      .newsletter-img {
        max-width: 250px;
        max-height: 250px;
        -ms-transform: rotate(356deg); /* IE 9 */
        -webkit-transform: rotate(356deg); /* Chrome, Safari, Opera */
        transform: rotate(356deg);
        float:right;
        margin-right: 5%;
        margin-top: -30px;
        border:8px solid #fff;
      }

      .join-btn:hover {
        color: #ccc;
      }
    }

    .footer-container {
      font-size: 13px;
      padding: 3% 0;
      color: #a3a3a3;

      .widget {
        padding: 0 30px;

        &:first-of-type {
          padding-left: 0;
        }

        #donate-button {
          border: solid 1px $standard_blue;
          display: inline-block;
          text-align: center;
          padding: 10px 20px;
          margin-top: 10px;
          color: white;

          &:hover {
            background-color: $hover_blue;
            border-color: #fff;
          }
        }
      }

      & > div {
        ul {
          margin-left: 0;

          li, li a {
            color: #a3a3a3;
            padding-bottom: 6px;

            &:hover {
              color: #fff;
            }
          }
        }

        h3 {
          font-size: 18px;
          color: white;
        }

        hr {
          color: white;
          height: 1px !important;
          margin-left: 0;
          width: 100px;
        }
      }
    }

    .footer-container-small {
      height: 60px;
      background-color: black;

      .copyright-container {
        padding-top: 19px;
      }
      .social-container {
        height: 60px;
        margin-right: 5%;
        padding-top: 12px;

        ul {
          padding: 0 20px;

          li {
            width: 35px;
            height: 35px;
            background-color: $footer_dark_grey;
            text-align: center;
            padding: 5px;
            margin: 0 5px;

            &:hover {
              a {
                color: $hover_blue;
              }
            }
          }
        }
      }
    }
    .footer-partners {
      .partner-logo {
        max-height: 200px;
        padding: 30px;
      }
    }
  }
  .card-panel {
    .at-partner-logo {
      img {
        max-height: 150px;
      }
    }
    p {
      margin: 0 ;
    }
    .at-parner-name {
      margin-top: 0 ;
    }
  }
}
